.list-item-text {
    color: rgb(77, 73, 73) !important;
    font-size: 1.5em !important;
    padding-left: 15px !important;
}

.app-bar-links {
    margin-left: auto;
}

.app-bar-link {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 1em;
}

@media (max-width: 300px) {
 .app-bar-link {
     font-size: 0.8em;
 }
}