.main-container-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(157, 33, 179, 0.8),
      rgba(165, 60, 184, 0.8),
      rgba(173, 82, 189, 0.8),
      rgba(180, 101, 194, 0.8),
      rgba(187, 119, 199, 0.8),
      rgba(192, 137, 207, 0.8),
      rgba(198, 155, 215, 0.8),
      rgba(205, 172, 222, 0.8),
      rgba(214, 193, 233, 0.8),
      rgba(225, 214, 241, 0.8),
      rgba(239, 235, 249, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/background.jpg");
  background-size: cover;
}

.main-content {
  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-image: url("/logo.png");
  background-size: cover;
  width: 100px;
  height: 100px;
}

.main-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main-app-name {
  font-size: 2em;
  color: white;
  margin: 0;
}

.main-container-flex > h2 {
  color: white;
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}

.main-buttons-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 5%;
  align-items: center;
}

.form-container {
  width: 90vw;
  margin-bottom: 30px;
}

@media (min-width: 350px) {
  .main-container-flex > h2 {
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  .buttons-container {
    width: 300px;
  }
  .main-logo-container {
    margin-top: 20%;
  }
  .main-app-name {
    font-size: 3em;
  }
}

@media (min-width: 900px) {
  .main-app-name {
    font-size: 4em;
  }
  .main-logo-container {
    width: 150px;
    height: 150px;
  }
}
